<nav class="navbar nav-bg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#" style="color: aliceblue;">Catatanku</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="color: black;">Tentang</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body col text-center" style="color: black;">
        <img src="img/vian.jpg" alt="" class="img-thumbnail rounded-circle mb-2" width="200">
        <h5 class="display-5">Alvian Nugroho</h5>
        <p class="lead">2022431559 / Pemrograman 2</p>
      </div>
    </div>
  </div>
</nav>